@import "_settings.scss";

$column-height: calc(#{$board-content-height} - #{2 * $gap});

.columns {
  flex: 0 0 auto;
  width: 300px;
  height: $column-height;
  margin-left: $gap;
  > * {
    background-color: $col-bg;
    color: $app-main-color;
    padding: 0 8px;
  }

  .header {
    padding: 5px 8px;
    line-height: $col-header-height;
    font-size: 16px;
    font-weight: 600;
    border-top-left-radius: $col-radius;
    border-top-right-radius: $col-radius;
    cursor: pointer;
    display: flex;
    .column-title {
      height: $col-header-height;
      flex: 90%;
      .title {
        // margin: 5px 0;
      }
    }
    .column-action {
      flex: 10%;
      .dropdown-action {
        padding: 0 $gap;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        background-color: $col-bg;
        border-color: $col-bg;
        color: $app-main-color;
        margin-top: -5px;
        height: 35px;
        &:after {
          content: "...";
          border: none;
        }
        &:hover {
          background-color: darken($col-bg, 10);
          border-color: darken($col-bg, 10);
        }
      }
      .dropdown-menu {
        padding: 0;
        min-width: 200px;
        .dropdown-item {
          padding: 0.1rem 1rem;
          font-size: 14px;
          &:not(:last-child) {
            border-bottom: 1px solid darken($col-bg, 10);
          }
        }
      }
    }
  }

  .footer {
    padding-left: 15px;
    height: $col-footer-height;
    line-height: $col-footer-height;
    font-size: 16px;
    border-bottom-left-radius: $col-radius;
    border-bottom-right-radius: $col-radius;
    color: #888;
    display: flex;
    align-items: center;
    cursor: pointer;
    .actions {
      margin-left: 5px;
      &:hover {
        color: $app-main-color;
      }
    }
  }

  .list-items {
    margin: 0;
    max-height: calc(#{$column-height} - #{$col-header-height} - #{$col-footer-height});
    overflow-y: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darken($col-bg, 15);
      border-right: 5px solid $col-bg;
    }

    .card-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(5deg);
      font-weight: 600;
    }
    
    .card-ghost-drop {
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg);
      font-weight: 600;
    }

    .cards-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
    }
  }
}
