@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600");

$board-bg: #0079bf;
$nav-bg: #0067a3;
$col-bg: #ebecf0;
$commom-el-bg: rgba(255, 255, 255, 0.24);
$app-main-color: #333;

$gap: 10px;
$col-header-height: 36px;
$col-footer-height: 36px;
$col-radius: 5px;
$card-radius: 4px;
$nav-bar-height: 5vh;
$board-bar-height: 6vh;
$board-content-height: 88vh;
